{% extends 'base.html' %}
{% block zawartosc %}

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">EDIT ACCOUNT</h3>
                </div>
                <div class="d-flex justify-content-center form_container">

                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="btn btn-dark btn-social mx-2"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.username }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="btn btn-dark btn-social mx-2"><i class="fas fa-envelope"></i></span>
                            </div>
                            {{ form.email }}
                        </div>


                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" style="color:#424242; font-family:'Quicksand';" type="submit"
                                   value="Update Account">
                        </div>

                    </form>
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <a class="nav-item nav-link p-0" href="{% url 'main-page' %}">
                        <h6>BACK TO MAIN PAGE</h6>
                    </a>
                </div>
                {{ form.errors }}
            </div>
        </div>
    </div>
    </div>



{% endblock %}