{% extends 'base.html' %}
{% block zawartosc %}

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">


                    <h2 id="form-title">RESET PASSWORD</h2>

                </div>

                <div class="d-flex justify-content-center form_container mt-1">

                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="card-body text-center">
                            <h4 class="card-title">Forgot your password?</h4>
                            <p><h6 class="card-text">Enter your email address below, </h6>
                            <p><h6 class="card-text">and we'll email instructions for
                            setting a new one.</h6>
                        </div>


                        <div class="d-flex justify-content-center input-group mb-3">

                            <div class="input-group-append">

                                <span class="btn btn-dark btn-social mx-2"><i class="fas fa-envelope"></i></span>
                            </div>
                            {{ form.email }}
                        </div>
                        {{ form.captcha }}
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" style="color:#424242; font-family:'Mohave';" type="submit"
                                   value="Send me instructions">
                        </div>
                    </form>

                </div>
                {{ form.errors }}

                <div class="mt-4">
                    <div class="d-flex justify-content-center links" style="color:#424242;font-family:'Mohave';">
                        Don't have an account?
                    </div>
                    <div class="d-flex justify-content-center links" style="color:#424242; font-family:'Mohave';">
                        <a href="{% url 'signup' %}" class="ml-5">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}