{% extends 'base.html' %}
{% load static %}
{% block zawartosc %}

    <main class="container my-4 bg-white p-2 rounded-3 shadow-lg px-xxl-5 mt-xl-2 mb-xxl-5" id="cartList">
        <div class="d-flex justify-content-between border-bottom m-3">
            <div class="ms-3">
                <h3>Shopping Cart ({{ totalitems }})</h3>
            </div>
            <div class="me-3">
                <h4><a class="text-decoration-none text-reset class" href="" id="refURL">BACK</a></h4>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for product_id,item in cart_data.items %}
                <tr>
                    <td>
                        <a href="{% url 'product-details' product_id %}">
                            <img src="/media/{{ item.product.0.image }}" width="50"/></a>
                        <p><a href="{% url 'product-details' product_id %}"
                              class="text-decoration-none text-reset class">{{ item.product.0.name }}</a></p>
                    </td>
                    <td>
                        <input type="number" class="product-qty-{{ product_id }}" min="1" value="{{ item.qty }}"
                               style="vertical-align: bottom;"/>
                        <button class="btn btn-sm btn-primary update-item" data-item="{{ product_id }}"><i
                                class="fa fa-sync"></i></button>
                        <button class="btn btn-sm btn-danger delete-item" data-item="{{ product_id }}"><i
                                class="fa fa-trash"></i></button>
                    </td>
                    <td>$ {{ item.product.0.price }}</td>
                    <td>$ {% widthratio item.product.0.price 1 item.qty %}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2"></td>
                <th>Total</th>
                <th>$ {{ total_amt }}</th>
            </tr>
            {% if totalitems %}
                <tr>
                    <td colspan="4" align="right">
                        <a href="{% url 'checkout' %}" class="btn btn-dark btn-sm">Checkout <i
                                class="fa fa-long-arrow-alt-right"></i></a>
                    </td>
                </tr>
            {% endif %}
            </tfoot>
        </table>
    </main>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/back-button.js' %}"></script>
    <script>
        $(document).on('click', '.delete-item', function () {
            let item = this;
            let product_id = item.getAttribute('data-item');
            $.ajax({
                url: "{% url 'delete-from-cart' %}",
                data: {
                    'id': product_id,
                },
                dataType: 'json',
                beforeSend: function () {
                    item.disabled = true;
                },
                success: function (res) {
                    $(".cart-list").text(res.totalitems);
                    item.disabled = false;
                    console.log(res);
                    $("#cartList").html(res.data);
                }
            });
        });
    </script>
    <script>
        $(document).on('click', '.update-item', function () {
            let item = this;
            let product_id = item.getAttribute('data-item');
            let qty = $(".product-qty-" + product_id).val();
            $.ajax({
                url: "{% url 'update-cart' %}",
                data: {
                    'id': product_id,
                    'qty': qty
                },
                dataType: 'json',
                beforeSend: function () {
                    item.disabled = true;
                },
                success: function (res) {
                    item.disabled = false;
                    $("#cartList").html(res.data);
                }
            });
        });
    </script>
{% endblock %}
