{% load crispy_forms_tags %}
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="user_card">
                        <div class="d-flex justify-content-center">


                            <h3 id="form-title">ADD CATEGORY</h3>
                        </div>
                        <div class="d-flex justify-content-center form_container">

                            <form method="POST" action="" enctype="multipart/form-data">
                                {% crispy form %}
                                {{ form.errors }}
                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <input class="btn login_btn" style="color:#424242;"
                                           value="SUBMIT" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

